/* Header */
header {
  margin: 3em 0 2em;

  h1 {
    color: #D0D0D0;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-size: 3em;
  }

  .menu {
    a {
      margin: 0 .25em;
    }
  }
}

/* Login overlay and dialog */
#login-overlay {
  background: rgba(0, 0, 0, .75);
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;

  #login-dialog {
    background: #fff;
    margin: 10% auto 0;
    max-width: 45%;
    padding: 2.5%;

    form {
      input {
        display: block;
        margin: 1em 0 0;
        width: 60%;
      }

      button {
        display: block;
        margin: 1em 0 0;
      }
    }

    .dialog-close {
      text-align: right;

      a {
        font-size: 14px;
      }
    }
  }
}

/* Home page */
.photo-row {
  .photo {
    background: #F0F0F0;
    padding: 1%;
    margin: 1%;
    width: 320px;

    a {
      display: block;
      text-align: center;

      img {
        max-width: 100%;
        max-height: 220px;
      }
    }
  }
}

/* Photo page */
.photo-page {
  .photo {
    background: #F0F0F0;
    padding: 1%;
    margin: 1%;
    width: 75%;

    a {
      display: block;
      text-align: center;

      img {
        max-width: 100%;
      }
    }
  }
}
