<div class="dark-overlay delete-confirmation">
  <div class="inner-dialog">
    <form method="post" action="/delete-comment" id="delete-comment-form">
      <h3>Definitely delete this comment?</h3>

      <input type="hidden" name="comment_id" value="" />
      <button type="submit">Yep</button>
    </form>

    <div class="dialog-close">
      <a href="#" class="dialog-close-link">Never mind</a>
    </div>
  </div>
</div>

