<div id="login-overlay">
  <div id="login-dialog">
    <form method="post" action="/login">
      <h3>Log In!</h3>

      <input type="text" name="username" placeholder="Username" />
      <input type="password" name="password" />
      <button type="submit">Go</button>
    </form>

    <div class="dialog-close">
      <a href="#" id="dialog-close-link">Never mind</a>
    </div>
  </div>
</div>
