<div class="justify-content-center photo">
  <!-- Photo and link -->
  <a href="/photo/{{id}}">
    <img src="http://mobile.sushipopsicle.com/userimages/thumb/320x240{{photo}}" />
  </a>

  <!-- Title and user info -->
  <br />
  <div>
    {{^ title}}
      Untitled
    {{/ title}}

    {{# title}}
      {{title}}
    {{/ title}}

    <br/> <small>{{name}} at {{date}}</small>
  </div>
</div>
