<div class="justify-content-center photo">

  <!-- If this is the index page, show a smaller thumbnail, else show the larger image -->
  {{# is_index_page}}
    <a href="/photo/{{id}}">
      <img src="http://mobile.sushipopsicle.com/userimages/thumb/320x240{{photo}}" />
    </a>
  {{/ is_index_page}}

  {{^ is_index_page}}
    <a href="/photo/{{id}}">
      <img src="http://mobile.sushipopsicle.com/userimages/{{photo}}" />
    </a>
  {{/ is_index_page}}

  <!-- Title and user info -->
  <br />
  <div>
    {{^ title}}
      Untitled
    {{/ title}}

    {{# title}}
      {{title}}
    {{/ title}}

    <br/> <small>{{name}} at {{date}}</small>
  </div>
</div>
