@charset "UTF-8";
/* Colors */
/* Screen sizes for media queries */
/* Responsive methods */
/*!
 * Pikaday
 * Copyright © 2014 David Bushell | BSD & MIT license | http://dbushell.com/
 */
.pika-single {
  z-index: 9999;
  display: block;
  position: relative;
  color: #333;
  background: #fff;
  border: 1px solid #ccc;
  border-bottom-color: #bbb;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

/*
clear child float (pika-lendar), using the famous micro clearfix hack
http://nicolasgallagher.com/micro-clearfix-hack/
*/
.pika-single:before,
.pika-single:after {
  content: " ";
  display: table; }

.pika-single:after {
  clear: both; }

.pika-single {
  *zoom: 1; }

.pika-single.is-hidden {
  display: none; }

.pika-single.is-bound {
  position: absolute;
  box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.5); }

.pika-lendar {
  float: left;
  width: 240px;
  margin: 8px; }

.pika-title {
  position: relative;
  text-align: center; }

.pika-label {
  display: inline-block;
  *display: inline;
  position: relative;
  z-index: 9999;
  overflow: hidden;
  margin: 0;
  padding: 5px 3px;
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
  background-color: #fff; }

.pika-title select {
  cursor: pointer;
  position: absolute;
  z-index: 9998;
  margin: 0;
  left: 0;
  top: 5px;
  filter: alpha(opacity=0);
  opacity: 0; }

.pika-prev,
.pika-next {
  display: block;
  cursor: pointer;
  position: relative;
  outline: none;
  border: 0;
  padding: 0;
  width: 20px;
  height: 30px;
  /* hide text using text-indent trick, using width value (it's enough) */
  text-indent: 20px;
  white-space: nowrap;
  overflow: hidden;
  background-color: transparent;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 75% 75%;
  opacity: .5;
  *position: absolute;
  *top: 0; }

.pika-prev:hover,
.pika-next:hover {
  opacity: 1; }

.pika-prev,
.is-rtl .pika-next {
  float: left;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAUklEQVR42u3VMQoAIBADQf8Pgj+OD9hG2CtONJB2ymQkKe0HbwAP0xucDiQWARITIDEBEnMgMQ8S8+AqBIl6kKgHiXqQqAeJepBo/z38J/U0uAHlaBkBl9I4GwAAAABJRU5ErkJggg==");
  *left: 0; }

.pika-next,
.is-rtl .pika-prev {
  float: right;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAU0lEQVR42u3VOwoAMAgE0dwfAnNjU26bYkBCFGwfiL9VVWoO+BJ4Gf3gtsEKKoFBNTCoCAYVwaAiGNQGMUHMkjGbgjk2mIONuXo0nC8XnCf1JXgArVIZAQh5TKYAAAAASUVORK5CYII=");
  *right: 0; }

.pika-prev.is-disabled,
.pika-next.is-disabled {
  cursor: default;
  opacity: .2; }

.pika-select {
  display: inline-block;
  *display: inline; }

.pika-table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border: 0; }

.pika-table th,
.pika-table td {
  width: 14.285714285714286%;
  padding: 0; }

.pika-table th {
  color: #999;
  font-size: 12px;
  line-height: 25px;
  font-weight: bold;
  text-align: center; }

.pika-button {
  cursor: pointer;
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  border: 0;
  margin: 0;
  width: 100%;
  padding: 5px;
  color: #666;
  font-size: 12px;
  line-height: 15px;
  text-align: right;
  background: #f5f5f5; }

.pika-week {
  font-size: 11px;
  color: #999; }

.is-today .pika-button {
  color: #33aaff;
  font-weight: bold; }

.is-selected .pika-button,
.has-event .pika-button {
  color: #fff;
  font-weight: bold;
  background: #33aaff;
  box-shadow: inset 0 1px 3px #178fe5;
  border-radius: 3px; }

.has-event .pika-button {
  background: #005da9;
  box-shadow: inset 0 1px 3px #0076c9; }

.is-disabled .pika-button,
.is-inrange .pika-button {
  background: #D5E9F7; }

.is-startrange .pika-button {
  color: #fff;
  background: #6CB31D;
  box-shadow: none;
  border-radius: 3px; }

.is-endrange .pika-button {
  color: #fff;
  background: #33aaff;
  box-shadow: none;
  border-radius: 3px; }

.is-disabled .pika-button {
  pointer-events: none;
  cursor: default;
  color: #999;
  opacity: .3; }

.is-outside-current-month .pika-button {
  color: #999;
  opacity: .3; }

.is-selection-disabled {
  pointer-events: none;
  cursor: default; }

.pika-button:hover,
.pika-row.pick-whole-week:hover .pika-button {
  color: #fff;
  background: #ff8000;
  box-shadow: none;
  border-radius: 3px; }

/* styling for abbr */
.pika-table abbr {
  border-bottom: none;
  cursor: help; }

body {
  padding: 0 0 5% 0; }
  body a {
    text-decoration: none !important; }

/* Header */
header {
  margin: 3em 0 2em; }
  header h1 {
    color: #d0d0d0;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-size: 3em; }
  header .menu a {
    margin: 0 .25em; }
  header .menu #unread-comments-bubble {
    display: inline-block;
    position: relative; }
    header .menu #unread-comments-bubble .number-unread {
      background: #f00;
      border-radius: 1em;
      color: #fff;
      font-size: 0.65em;
      outline: 0;
      padding: 0.1em 0.5em;
      position: absolute;
      right: -5px;
      top: -5px; }
    header .menu #unread-comments-bubble.zero-unread .number-unread {
      background: #f0f0f0;
      color: #000; }
    header .menu #unread-comments-bubble img {
      width: 30px; }
  header .menu #unread-comments-details {
    background-color: #F8F8F8;
    display: none;
    margin: 1.5em 0 0;
    padding: 1em;
    text-align: left; }
    header .menu #unread-comments-details a {
      display: block;
      margin: 0 0 .5em; }

/* Overlay and dialog box */
.dark-overlay {
  background-color: rgba(0, 0, 0, 0.75);
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10; }
  .dark-overlay .inner-dialog {
    background: #fff;
    margin: 10% auto 0;
    max-width: 45%;
    padding: 2.5%; }
    .dark-overlay .inner-dialog form input {
      display: block;
      margin: 1em 0 0;
      width: 60%; }
    .dark-overlay .inner-dialog form button {
      display: block;
      margin: 1em 0 0; }
    .dark-overlay .inner-dialog .dialog-close {
      text-align: right; }
      .dark-overlay .inner-dialog .dialog-close a {
        font-size: 14px; }

/* Home page */
.photo-container-logged-out {
  position: relative;
  height: 600px;
  overflow: hidden; }
  .photo-container-logged-out:before {
    background: -wekbit-linear-gradient(rgba(255, 255, 255, 0), white);
    background: linear-gradient(rgba(255, 255, 255, 0), white);
    content: '';
    height: 100%;
    position: absolute;
    width: 100%; }

.photo-row .photo {
  background-color: #f0f0f0;
  padding: 1%;
  margin: 1%;
  width: 320px; }
  .photo-row .photo a {
    display: block;
    text-align: center; }
    .photo-row .photo a img {
      max-width: 100%;
      max-height: 220px; }
  .photo-row .photo .comment-number {
    font-size: .8em;
    text-align: right; }
    .photo-row .photo .comment-number span {
      display: inline-block;
      margin-right: .5em;
      vertical-align: middle; }
    .photo-row .photo .comment-number img {
      display: inline-block;
      vertical-align: middle; }

/* Photo page */
.photo-page .photo {
  background: #F0F0F0;
  padding: 1em; }
  .photo-page .photo img {
    max-width: 100%; }
  .photo-page .photo .title-date {
    margin-top: 1em; }
    .photo-page .photo .title-date .edit-title.editing .default {
      display: none; }
    .photo-page .photo .title-date .edit-title.editing .never-mind {
      display: inline; }
    .photo-page .photo .title-date .edit-title .default {
      display: inline; }
    .photo-page .photo .title-date .edit-title .never-mind {
      display: none; }
    .photo-page .photo .title-date form {
      display: none;
      margin: 0; }
      .photo-page .photo .title-date form.show {
        display: inline; }
      .photo-page .photo .title-date form input[type="text"] {
        padding: .5em;
        width: 60%; }
.photo-page .comments .comment {
  margin: 0 0 0.75em; }
  .photo-page .comments .comment .name-comment .name {
    font-weight: 600; }
  .photo-page .comments .comment .date {
    font-size: 12px; }
.photo-page #comment-form {
  margin: 2em 0 0; }
  .photo-page #comment-form input {
    display: block;
    padding: .5em;
    width: 100%; }
    @media screen and (min-width: 1024px) {
      .photo-page #comment-form input {
        width: 60%; } }
    .photo-page #comment-form input::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: #d0d0d0; }
    .photo-page #comment-form input::-moz-placeholder {
      /* Firefox 19+ */
      color: #d0d0d0; }
    .photo-page #comment-form input:-ms-input-placeholder {
      /* IE 10+ */
      color: #d0d0d0; }
    .photo-page #comment-form input:-moz-placeholder {
      /* Firefox 18- */
      color: #d0d0d0; }
  .photo-page #comment-form button {
    display: block;
    margin: 1em 0 0; }
  .photo-page #comment-form input[type="submit"] {
    display: none; }

/* Explore page */
#explore-form .btn,
.random-photo-btn {
  cursor: pointer; }

/* Explore results page */
.prev-page-link {
  margin: 0 1em 0 0; }

#datepicker {
  padding: 0.5em 1em;
  width: 17em; }

/*# sourceMappingURL=style.css.map */
