{{> header}}

{{# is_logged_in}}<div id="photo-container">{{/ is_logged_in}}
{{^ is_logged_in}}<div id="photo-container" class="photo-container-logged-out">{{/ is_logged_in}}
  <div class="row justify-content-center photo-row"">
    {{#photos}}
      {{> photo_block}}
    {{/photos}}
  </div>
</div>

{{# is_logged_in}}
  <div class="row justify-content-center">
    <div class="col-3 text-center my-4">
      <a href="#" id="load-more-photos"> 📸  More Photos </a>
    </div>
  </div>
{{/ is_logged_in}}

{{> footer}}
