{{> header}}

<div class="row justify-content-center photo-page">
  {{> photo_block}}
</div>
  
<div class="row justify-content-center comment-block">
  <div>
    <h4>COMMENTS!</h4>
  </div>
  
  {{# comments}}
    {{name}}: {{comment}}<br />
  {{/ comments}}
</div>

{{> footer}}
